<a href="https://colab.research.google.com/github/pathipakapujitha/2216159_AIML_Bootcamp_2023/blob/main/AIML_BOOTCAMP_DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#arithmetic operators
print("arithmetic operators")
a=20
b=2

print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a**b)
print(a//b)

arithmetic operators
22
18
10.0
40
400
10

In [ ]:
#comparison operators

a==b
a<=b
a>=b
a<>b
a!=b

In [2]:
#assignment operators
a=20
b=2

c=a+b
c-=a
print(c)

2

In [3]:
#logical operators-and or not
t=True
f=False
print("t and f is:",t and f)
print("t or f is:",t or f)
print("t not f is:",not f)

t and f is: False
t or f is: True
t not f is: True

In [4]:
#bitwise opearators
a=13 #0000 1101
b=14 #0000 1110

print(a&b) #and
print(a|b) #or
print(~a) #not
print(a^b) #XOr
print(a>>2) #right shift
print(a<<2) #left shift

12
15
-14
3
3
52

In [5]:
#membership operators
a="hello world!"
print("l" in a)

True

In [6]:
#identity operators
a1=5
b1=5
a2="yayy"
b2="yayy"
a3=[6,7,8]
b3=[6,7,8]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

In [8]:
a=int(input("enter value of a:"))
print(a)

b=input("enter string")
print(b)

enter value of a:5
5
enter stringpuja
puja

In [9]:
#strings

str="Puja"

#indexing
print(str[0])
print(str[-1])

#slicing
print(str[0:5:2])

print(str[::])

#reverse of string
print(str[::-1])

#string methods
my_str=" Iam Pujitha"
print(my_str.upper())
print(my_str.lower())
print(my_str.swapcase()) #lower to caps and viceversa
print(my_str.lstrip())

#string operations
str1="hello"
str2="This is me"
print(str1+str2)
print(str1*2)

P
a
Pj
Puja
ajuP
 IAM PUJITHA
 iam pujitha
 iAM pUJITHA
Iam Pujitha
helloThis is me
hellohello

In [10]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [11]:
#string formats

name="Puja"
Language="Python"
year=2023
 
print(name,"is studying",Language,"Programming language in",year)

#format
print("{} is studying {} programming language in {}".format(name,Language,year)) #like of giving indexing
print("{2} is studying {0} programming language in {1}".format(name,Language,year))

#placeholder
print("%s is studying %s in %d"%(name,Language,year))

#rawstring
print(f"{name} is studying {Language} in {year}")

Puja is studying Python Programming language in 2023
Puja is studying Python programming language in 2023
2023 is studying Puja programming language in Python
Puja is studying Python in 2023
Puja is studying Python in 2023

In [12]:
#List
my_l=[1,2,3,4]
my_l1=[1,"hii","4.0"]
my_l2=["apple","mango","citrus"]

#indexing
print(my_l[2])
print(my_l[-1])

#slicing
print(my_l[:3])

#nested list
n_l=["dragonfruit",my_l,my_l[1]]
print(n_l[0][0:6])
print(my_l1[1][2])

#list method
my_l.append(5)
print(my_l)

l1=[6,5,63,78,3,5,9,2,61]
print(l1.count(5))
print(len(l1))
print(l1[::-1])

l1.reverse()
print(l1)

l1.sort()
print(l1)

#print(n_l[2][0:3])

3
4
[1, 2, 3]
dragon
i
[1, 2, 3, 4, 5]
2
9
[61, 2, 9, 5, 3, 78, 63, 5, 6]
[61, 2, 9, 5, 3, 78, 63, 5, 6]
[2, 3, 5, 5, 6, 9, 61, 63, 78]

In [14]:
 l2=[1,2,3]
 l3=l2
 l4=[1,2,3]
 print(l2==l3)
 print(l3==l4)

 print(l2 is l3)
 print(l3 is l4)

True
True
True
False