<a href="https://colab.research.google.com/github/pathipakapujitha/2216159_AIML_Bootcamp_2023/blob/main/ASSIGNMENT_1_AIML_BOOTCAMP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Implement the methods of String with examples

In [ ]:
str="BootCamp"
print(str)
#indexing
print(str[0:6])
print(str[0])
print(str[1:7])
#slice operator
print(str[:]) # prints complete string-way1
print(str[0:]) #-way2
print(str[3:])
print(str[2:8])
print(str[-6:-3])
print(str[0:5:3])# alternate elements
# reverse a string using slice operator
print(str[::-1])
# string operations
str1="SR"
str2="UNIVERSITY"
print(str1+str2)
str3=str1*2
print(str3)
# string methods
st="Python Programming Language"
print(st.upper())#converts to uppercase
print(st.lower())#converts to lower case
print(st.title())#converts first letter of each word
print(st.capitalize())#Converts to capitals
print(st.swapcase())#converts upper to lower and vice versa
print(st.endswith('e'))#check whether the string ends with letter
print(st.startswith('P'))#checks whether the string begins with lettter
print(st.count('g'))#counts the no of occurance of element
print(st.isalpha())#returns true if all the characters are alphabets
print(st.isnumeric())#returns true if all characters are numbers
print(st.istitle())#returns true if matches to title()
strg="       welcome to BootCamp  "
print(strg.strip())
print(strg.lstrip())
print(strg.rstrip())
print(strg.split( ))
str4="puja@pujitha@pathipaka"
print(str4.split('@'))

BootCamp
BootCa
B
ootCam
BootCamp
BootCamp
tCamp
otCamp
otC
Bt
pmaCtooB
SRUNIVERSITY
SRSR
PYTHON PROGRAMMING LANGUAGE
python programming language
Python Programming Language
Python programming language
pYTHON pROGRAMMING lANGUAGE
True
True
4
False
False
True
welcome to BootCamp
welcome to BootCamp
       welcome to BootCamp
['welcome', 'to', 'BootCamp']
['puja', 'pujitha', 'pathipaka']

# 2.Implement the methods of List with examples.

In [ ]:
#LIST
list1=[1,3,5,7,11,13,17,19,23,29,31,37,41,43,47]
list2=["python","java","c",8,3.0,5+24j]
list3=["B","O","O","T","C","A","M","P","A","I","M","L"]
#indexing
print(list1[3])
print(list2[1])
print(list3[4])
#slicing
print(list1[0:6])
print(list2[:])
print(list2[::-1])
print(list3[-1::-8])#prints from last living 5 indexes
print(list3[0:6:1])
#nested list
nlist=[[1,3,5,7,11,13],["python","java","c"],["B","O","O","T","C","A","M","P","A","I","M","L"]]
print(nlist[0][1])
print(nlist[1][2])
print(nlist[2][3])
print(nlist[2][1:4])
# list Methods
list4=[10,20]
list4.append(50)
print(list4)
list4.extend("HTML")
print(list4)
list4.insert(8,888)
print(list4)
print(list4.count('T'))
list5=list4.copy()
print(list5)
list4.reverse()
print(list4)
list6=["s","r","u"]
list6.sort()
print(list6)
list6.remove("r")
print(list6)
list6.pop()
print(list6)
list6.clear()
print(list6)

7
java
C
[1, 3, 5, 7, 11, 13]
['python', 'java', 'c', 8, 3.0, (5+24j)]
[(5+24j), 3.0, 8, 'c', 'java', 'python']
['L', 'T']
['B', 'O', 'O', 'T', 'C', 'A']
3
c
T
['O', 'O', 'T']
[10, 20, 50]
[10, 20, 50, 'H', 'T', 'M', 'L']
[10, 20, 50, 'H', 'T', 'M', 'L', 888]
1
[10, 20, 50, 'H', 'T', 'M', 'L', 888]
[888, 'L', 'M', 'T', 'H', 50, 20, 10]
['r', 's', 'u']
['s', 'u']
['s']
[]

# 3.Implement the methods of Tuple with examples.

In [ ]:
tuple1=(2,4,6,8,10,12,14,16,18,20)
tuple2=("CSE","ECE","MECH","CIVIL")
tuple3=(4,"sru",6.2,"cse")
#indexing
print(tuple1[4])
print(tuple2[2])
print(tuple3[2])
#slicing
print(tuple1[0:6])
print(tuple2[::-1])
print(tuple3[-4:-1])
# tuple methods
print(tuple1.count(10))
print(tuple1.index(10))
print(max(tuple1))
print(min(tuple1))
print(len(tuple3))

10
MECH
6.2
(2, 4, 6, 8, 10, 12)
('CIVIL', 'MECH', 'ECE', 'CSE')
(4, 'sru', 6.2)
1
4
20
2
4

# 4.Implement the methods of Dictionary with examples.

In [ ]:
dic1={'name':'Pujitha','branch':'CSE','college':'SR University','pincode':506001}
print(dic1)
print(dic1['name'])
print(dic1.keys())
print(dic1.values())
print(dic1.get('pincode'))
dic2=dic1.copy()
print(dic2)
print(dic1.items())
dic1.update({'pincode':506006})
print(dic1)
dic1.pop('branch')
print(dic1)
dic1.popitem()
dic1.clear()
print(dic1)

{'name': 'Pujitha', 'branch': 'CSE', 'college': 'SR University', 'pincode': 506001}
Pujitha
dict_keys(['name', 'branch', 'college', 'pincode'])
dict_values(['Pujitha', 'CSE', 'SR University', 506001])
506001
{'name': 'Pujitha', 'branch': 'CSE', 'college': 'SR University', 'pincode': 506001}
dict_items([('name', 'Pujitha'), ('branch', 'CSE'), ('college', 'SR University'), ('pincode', 506001)])
{'name': 'Pujitha', 'branch': 'CSE', 'college': 'SR University', 'pincode': 506006}
{'name': 'Pujitha', 'college': 'SR University', 'pincode': 506006}
{}

# 5.Implement the methods of Set with examples.

In [ ]:
set1={1,3,5,7,9,11,13,15,17,19,21,23,25,27,29}
set2={1,5,10,"sru",(1,2,3)}
#set methods
set1.add(40)
print(set1)
set1.update([10,20,30])
print(set1)
set1.discard(17)
print(set1)
set1.remove(21)
print(set1)
set2=set1
print(set2)
print(set2.clear())
print(set2)
#set operations
a={1,2,3,4,5,6,7,8}
b={1,3,5,7,9}
print(a and b)
print(a or b)
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))
print(a.pop())

{1, 3, 5, 7, 40, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29}
{1, 3, 5, 7, 9, 10, 11, 13, 15, 17, 19, 20, 21, 23, 25, 27, 29, 30, 40}
{1, 3, 5, 7, 9, 10, 11, 13, 15, 19, 20, 21, 23, 25, 27, 29, 30, 40}
{1, 3, 5, 7, 9, 10, 11, 13, 15, 19, 20, 23, 25, 27, 29, 30, 40}
{1, 3, 5, 7, 9, 10, 11, 13, 15, 19, 20, 23, 25, 27, 29, 30, 40}
None
set()
{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 5, 7}
{8, 2, 4, 6}
{9}
1

# 6.Write a python program to convert Decimal to Binary, Octal and Hexadecimal with direct method.

In [ ]:
#Decimal to BInary
number=int(input('Enter a Number:'))
def decimalToBinary(number):
  if number>1:
      decimalToBinary(number//2)
  print(number%2,end=' ')
decimalToBinary(number)
print("\n")
#Decimal to Octal
number=int(input('enter a number:'))
def decimalToOctal(number):
  if number>1:
      decimalToOctal(number//8)
  print(number%8,end=' ')
decimalToOctal(number)
print("\n")
#Decimal to Hexadecimal
number=int(input('enter a number:'))
def decimalToHexa(number):
  if number>1:
      decimalToHexa(number//16)
  print(number%16,end=' ')
decimalToHexa(number)

Enter a Number:5
1 0 1

enter a number:246
0 3 6 6

enter a number:42
0 2 10

# 7.Implement Arithmetic operators with examples.

In [ ]:
a=8+22  #addition
b=8-22  #subtraction
c=8*22  #multiplication
d=8/22  #division
x=8%22  #modulus
y=8**22 #exponent
z=8//22 #floor
print(a,b,c,d,x,y,z)

30 -14 176 0.36363636363636365 8 73786976294838206464 0

# 8.Implement Assignment operators with examples.

In [ ]:
#assignment operators
a=10
print(a)
a+=5
print(a)
a-=2
print(a)
a*=6
print(a)
a/=4
print(a)
a%=5
print(a)
a//=5
print(a)
b=3
b**=3
print(b)

10
15
13
78
19.5
4.5
0.0
27

# 9.Implement Comparison operators with examples.

In [20]:
a=30
b=10
print(a==b)
print(a>b)
print(b>a)
print(a>=b)
print(a<=b)
print(b>=a)
print(b<=a)
print(a!=b)

False
True
False
True
False
False
True
True

# 10.Implement Logical operators with examples.

In [21]:
a=True
b=False
c=True
print(a and b)
print((a and b) and ( b and c))
print((a and b) or ( b and c))
print((a or b) and ( b or c))
print(a or b)
print(not a)
a=12
b=4
print(a<15 and b<5)
print(a<10 or b<5)
print (not(a<10 or b<5))

False
False
False
True
True
False
True
True
False

# 11.Implement Bitwise operators with examples.

In [22]:
a=25
b=10
print(a&b)
print(a|b)
print(~a)
print(a>>2)
print(a<<2)

8
27
-26
6
100

# 12.Implement Membership operators with examples.

In [25]:
x="BOOTCAMP"
y={1:"java",2:"python",3:"c"}
print('A' in x)
print('U' not in x)
print(4 in y)
print("HTML" in y)

True
True
False
False

# 13.Implement Identity operators with examples.

In [27]:
x=["10","15","25"]
y=["10","15","30"]
print(x is y)
print (x is not y)

False
True

# 14.Demonstrate Negative indexing for List and apply slicing.

In [30]:
#negative indexing
list1=[1,5,10,15,20,25,30]
print(list1[-1])
print(list1[-6])
#slicing
print(list1[-1::-1])
print(list1[-5:-2])
print(list1[::-1])
list2=[1,5,[2,6,4],[3,7,9],100]
print(list2[3][-1])
print(list2[2][::-1])
print(list2[3][1:3])
list3=[2,4,6,8,[3,5,7,11],[100,200,300,400]]
print(list3[1:3][::-1])

30
5
[30, 25, 20, 15, 10, 5, 1]
[10, 15, 20]
[30, 25, 20, 15, 10, 5, 1]
9
[4, 6, 2]
[7, 9]
[6, 4]

# 15.Predict the output for the given code snippet and justify the result.

In [31]:
print('A series of characters designated as one subject know as a string'[::-1][4::3])
#justification
''' reverse of statement is   'gnirts a sa wonk tcejbus eno sa detangised sretcarahc fo seires A' 
and [4::3] takes index 4 and then leaves one letter and prints next
output:'taao eue  tgestrcoeeA'   '''
print("\n------------------------------------")
print('Welcome to python training program'[3:10][::-1])  
#justification
#index from 3 to 10  statement is come to and slicing[::-1] of it is output:ot emoc

taao eue  tgestrcoeeA

------------------------------------
ot emoc

# 16.Write a python code to get desired output.

In [32]:
p_phrase="was it a car or a cat I saw"
print(p_phrase[::-1].upper())

WAS I TAC A RO RAC A TI SAW

# 17.You are required to generate a word similar to ZOO, X and Y that denote the number of Zs and Os respectively. The generated word similar to ZOO where Y= 2 * X. Input X= 2 Output ZZOOOO Input X= 5 Output ZZZZZOOOOOOOOOO

In [33]:
word='ZOO'
X=int(input('Enter a number:'))
Y=2*X
print('Z'*X+'O'*Y)
#for input 2 --> ZZOOOO
#FOR INNPUT 5-->ZZZZZOOOOOOOOOO

Enter a number:5
ZZZZZOOOOOOOOOO